/******** STOCK POUBELLE **********/
/*    #F185B3 => BG NAVBAR
/*    /*    position:absolute;
        top:0;
        left:0; carousel
***********************************/
/*** BODY ***/
body{
    background-color: #c98dc9;
}
body .container-fluid{
    margin: 0;
    padding: 0;
}
/*** HEADER ***/
/*NOM DE L'ENTREPRISE*/
@font-face {
    font-family: "JandaRomantic";
    src: url('../fonts/janda_romantic/JandaRomantic.ttf');
}
header{
    background: #fbc2c9 url('../img/header/headPink2.jpg') left center no-repeat;
    height: 300px;
}
header h1 {
    position:absolute; 
    z-index:2; 
    margin-left: 33%; 
    margin-top: 7%;
    font-size: 80px;
    font-family: 'JandaRomantic', serif;
}
#modalStyle{
    background-color: #f7f071;
}
/*** NAVBAR ***/
.bgNavbar{
    background-color: black;  
}
.sidebar{
    background-color: #D52484;
}
.mainContent{
    background-color: #f9a098;
}
/******* BODY *******/
/*** TABLEAU PRESTATION ***/
.performanceTable {
    border: 3px solid #9fc9f9;
    /*border-collapse détermine si les bordures d'un tableau sont séparées ou fusionnées*/
    border-collapse: collapse; 
    width: 80%;
    margin-bottom: 30px;
}
.performanceTh {
    font-family: monospace;
    font-size: 25px;
    border: 2px solid #9fc9f9;
    /*taille de la première cellule (les 3 / 4))*/
    width: 75%;
    padding: 15px;
    /*pourquoi le texte align est en inherit?*/
    text-align: center !important;
    background-color: #D0E3FA;
}
.performanceTd {
    font-family: arial;
    font-size: 20px;
    border: 2px solid #9fc9f9;
    width: 50%;
    padding: 5px;
    text-align: center;
    background-color: #f9f6bd;
}
/*** CARROUSEL ***/
#carousel{
    position:relative;
    margin: auto;
    margin-bottom: 2%;
}
.carouselImg{
    width: 95%;
    text-align: center;
}
#carousel ul li{
    list-style-type: none;
}
.buttonCarousel{
    background-color: #fac1c8;
}
/*****liens sociaux*****/
.facebook{
    width: 60px;
}
.instagram{
    width: 60px;
    margin-left: 20px;
}
.marginLogo{
    margin-left: 50px;
}
/*** formulaire ***/
/*.result{
    background-color: #bfbfbf;
    border: 2px solid black;
    border-radius: 10px;
    padding: 6px;
    margin: 20px;   
}
.exercice{
    background-color: darkseagreen;
    border: 2px solid black;
    border-radius: 10px;
    padding: 6px;
    margin: 20px;
}*/
/*** calendrier ***/
.calendarTable{
    width: 60%;
    margin-bottom: 30px;
}
.calendarTh {
    border: 2px solid #9fc9f9;
    padding: 25px;
    text-align: center !important;
    background-color: #D0E3FA;
}
.calendarTd {
    border: 2px solid #9fc9f9;
    padding: 5px;
    text-align: center;
    background-color: #f9f6bd;
}

/*** FOOTER ***/
footer{
    height:100px;
    background-color: black;
}
.contact{
    text-align: center;
    color: white;
}
/***autre***/

@media screen and (max-width: 640px){
    /*    responsive taille prestations et tarifs du tableau*/
    .performanceTh{
        font-size: 100%;  
    }
    .performanceTable{
        margin-left: -4%;
    }
    .calendarTh {
        padding: 5px; 
    }
    .calendarTable{
        margin-left: -20px;
    }
    header{
        background-size: 100% 100%;
        height: 80px;
    }

    header h1{
        font-size: 20px;
    }
 
}